/*
/* Navigation Bar*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d682b6;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  
li a:hover {
    background-color: #d48db9;
}
.navigationaspects{
    
}

.logout{ 
    float: right;
    
}

/* poo poo brains */
* {
    background-color: poo brown ;
}


